/* * {border: 1px solid red;} */

/* ["#74B087","#DE7300","#74B087"] */
/* TODO:
    // import 'Inter' Font
    * apply states to .search__button, .btn
    * responsive .search--bar || .middle
    * change .search__input && .search__button active state border-color
    * should i remove the border-left on .search__btn
    * dark-theme color : #121212 ? 
    * add icons for error messages ?
    * can filter property be used to invert color of a 'currentColor' ? try for copy->box-shadow : try 
    * input hover states : https://www.dell.com/support/home/en-in/product-support/servicetag/0-U3BWUHowYmlBNTE0eVpycGVmSEZ4dz090/drivers
    * add tooltips on hover using attr(data-items)
    * try different fonts like Oswald,...
    * transitions maybe...?
    * add ellipsis to error-message
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

html {
  font-size: 1rem;
}

:root {
  --color-primary: #fbf0e480;
  --color-secondary: #3e1c96;

  --clr-grey: darkgrey;
  --clr-pink: pink;
  --clr-pinkish: #ff007f;
  --clr-green: #5b9279;
  --clr-yellow: yellow;
  --clr-red: red;
  /* COLORS */
  --color-black-light: #808080;
  --color-black-medium: #4d4d4d;
  --color-black-dark: #1a1a1a;

  --color-white-light: #808080;
  --color-white-medium: #b3b3b3;
  --color-white-dark: #e6e6e6;

  --color-default: var(--color-black-dark);
  --color-active: #3e1c96;
  --color-success: #14855f;
  --color-error: #e74c3c;

  --color-input-text: #10002e;

  --filter-primary: invert(95%) sepia(12%) saturate(762%) hue-rotate(322deg)
    brightness(99%) contrast(96%);

  /* STATES */
  --input-bg: transparent;
  /* --input-default-bg: ; */
  --input-success-bg: #f1f8f2;
  --input-error-bg: #fbefef;
  --input-disabled-bg: ;

  --hover-bg: rgba(0, 0, 0, 0.1);
  --color-input-state: rgba(63, 28, 150, 0.2);

  /* SHADOWS */
  --box-shadow-color: rgba(100, 100, 111, 0.2);

  --box-shadow-primary: var(--box-shadow-color) 0px 7px 29px 0px;
  --box-shadow-secondary: var(--color-input-state) 0px 7px 29px 0px;
  --box-shadow-third: var(--color-black-dark) 0px 0px 0px 3px;

  --drop-shadow: 0px 12px 16px -4px #10182810, 0px 4px 6px -2px #10182805;

  --border-radius-primary: 4px;

  /* SIZES */
  --responsive-text: clamp(1rem, 3vw, 1.5rem);

  --width-small: 1.5rem; /* 32px */
  --width-medium: 2.25rem; /* 36px */
  --width-large-responsive: 2.25rem; /* 42px */
  --width-extraLarge: 2.5rem; /* 40px */

  --padding-small: 0.5rem;
  --padding-medium: 0.8rem;
  --padding-large: 1.6rem;

  /* FONTS */

  --font-family: Inter, sans-seriif;
  --font-family-headings: "Work Sans", sans-serif;
  --font-family-roboto: "Roboto", sans-serif; /* Try Oswald */

  --fontSize-small: 0.7rem;
  --fontSize-medium: 0.95rem;
  --fontSize-large: 1.5rem;
  --fontSize-extraLarge: 1.75rem;

  --fontWeight-small: 100;
  --fontWeight-small-bold: 200;
  --fontWeight-regular: 300;
  --fontWeight-regular-bold: 400;
  --fontWeight-medium: 500;
  --fontWeight-medium-bold: 600;

  /* TRANSITION */
  --transition-all: all 0.3s linear;
}

.dark-theme {
  --color-primary: #111215;
  /* --color-primary: #121212; */

  --color-black-light: #808080;
  --color-black-medium: #b3b3b3;
  --color-black-dark: #e6e6e6;

  --color-white-light: #808080;
  --color-white-medium: #4d4d4d;
  --color-white-dark: #1a1a1a;

  --input-bg: #1d1e21;
  --hover-bg: rgba(255, 255, 255, 0.1);

  --box-shadow-color: rgba(0, 0, 0, 1);

  --color-input-text: var(--color-black-dark);

  --input-success-bg: none;
  --input-error-bg: none;
}

body {
  max-width: 100vw;
  /* min-width: 425px; */

  height: 100vh;
  background-color: var(--color-primary);
  transition: all 0.2s linear;
}

*,
*::before,
*::after {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* Container */
.container {
  display: grid;
  grid-template-rows: 4.5rem minmax(0, 1fr);
  height: 100%;
}

/* Navbar */
.nav {
  padding: var(--padding-large);

  /* height: 4.5rem; */
  border-bottom: 1px solid var(--color-black-dark);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.nav .box--large {
  width: var(--width-extraLarge);
  aspect-ratio: 1;
  box-shadow: var(--box-shadow-primary);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-primary);
  background-color: hsl(5.6, 78.1, 57.1);
  background-color: hsl(5.6, 78.1%, 57.1%);
}

.nav .middle {
  width: clamp(268px, 50vw, 22rem);
}

.nav .search {
  width: 100%;
  display: flex;
}

.search__input {
  --color-input-state: var(--color-default);
  flex: 1;
  outline: 0;
  padding: var(--padding-small);
  caret-color: var(--color-secondary);

  border-radius: var(--border-radius-primary) 0 0 var(--border-radius-primary);
  border: 2px solid var(--color-input-state);
  /* border-right: 0; */

  box-shadow: var(--box-shadow-secondary);
  background: var(--input-bg);

  color: var(--color-input-text);
}
.dashboard .search__btn:hover::before {
  filter: var(--filter-primary);
}

.btn.search__btn {
  --color-input-state: var(--color-default);

  width: var(--width-medium);
  border-radius: 0 var(--border-radius-primary) var(--border-radius-primary) 0;
  background: var(--input-bg);

  border: 2px solid var(--color-input-state);
  border-left: 0;
  box-shadow: var(--box-shadow-secondary);

  cursor: pointer;
  position: relative;
}

.search__btn::before {
  content: url(assets/svg/search.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark-theme .search__input,
.dark-theme .search__btn {
  --color-default: transparent;
  --box-shadow-secondary: transparent;
}
.dark-theme .search__btn::before {
  filter: var(--filter-primary);
}

.search__input:focus,
.search__input:focus + .search__btn {
  --color-input-state: var(--color-active);
  box-shadow: transparent;
}

.search.error .search__input:focus,
.search.error .search__input:focus + .search__btn {
  --color-input-state: var(--color-error);
  background: var(--input-error-bg);
}

.search.success .search__input:focus,
.search.success .search__input:focus + .search__btn {
  --color-input-state: var(--color-success);
  background: var(--input-success-bg);
}

.search {
  position: relative;
}

small {
  font-size: var(--fontSize-small);
  font-weight: var(--fontWeight-medium);

  color: var(--color-input-state);
  position: absolute;
  bottom: -1rem;
  left: 2px;
  visibility: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* transition: var(--transition-all) */
}

.search.error small i {
  content: url(assets/svg/wrong.svg);
}
.search.success small i {
  content: url(assets/svg/correct.svg);
}
.search.error small,
.search.success small {
  visibility: visible;
}

.search.error small {
  --color-input-state: var(--color-error);
}
.search.success small {
  --color-input-state: var(--color-success);
}

.right .list {
  display: flex;
  gap: 10%;
  align-items: center;
}

.toggle__input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.switch-theme {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  position: relative;
  color: var(--color-black-light);
}

.switch-theme::before {
  content: url(assets/svg/moon.svg);
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark-theme .switch-theme::before {
  content: url(assets/svg/sun.svg);
  filter: var(--filter-primary);
}

.switch-theme:hover {
  background: var(--hover-bg);
}

/* main-content */

.btns {
  display: none;
  justify-content: space-evenly;
  gap: 1rem;
  padding: var(--padding-small);
  margin: var(--padding-small);
  border-radius: var(--border-radius-primary);
}
.btn-aside {
  background: var(--color-primary);
  border-radius: var(--border-radius-primary);
  border: 2px solid var(--color-black-light);
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
  padding: var(--padding-small) var(--padding-medium);

  display: flex;
  align-items: center;
}

.heading--large {
  font-size: var(--responsive-text);
  font-weight: var(--fontWeight-medium-bold);
  font-family: var(--font-family-headings);
  letter-spacing: -1px;
  text-transform: capitalize;
  color: var(--color-black-dark);
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  grid-template-areas: "gradient dashboard explore";
}

/* section .dashboard*/
.dashboard {
  grid-area: dashboard;
  overflow-x: hidden;
}
.details {
  width: 100%;
  height: 100%;
}

details {
  color: var(--color-black-dark);
  border-bottom: 1px solid currentColor;
  user-select: none;
  width: 100%;
}

summary {
  padding: 1rem 1rem 1.4rem 2.2rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

summary::before {
  content: "";
  border: 0.4rem solid transparent;
  border-left-color: var(--color-black-dark);
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary {
  border-bottom: 1px solid var(--color-black-dark);
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary::before {
  transform: rotate(90deg);
}

summary i {
  cursor: none;
}

.category__title {
  font-weight: var(--fontWeight-medium-bold);
  text-transform: capitalize;
}
.dashboard .search--bar {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.dashboard .search__btn {
  border: 1px solid var(--color-input-state);
  display: block;
  width: var(--width-small);
  aspect-ratio: 1;
  border-radius: var(--border-radius-primary);
}
.dashboard .search__btn::before {
  content: url(assets/svg/add.svg);
  top: 52%;
}
.dashboard .search__btn:hover {
  background: var(--color-input-state);
}
.dashboard .search__btn:hover::before {
  filter: var(--filter-primary);
}

.dark-theme .dashboard .search__btn:hover {
  outline: 1px solid var(--color-black-dark);
}

.dashboard .search__input {
  width: 160px;
  padding: 0.2rem;
  padding-left: 0.4rem;
  border: 1px solid var(--color-input-state);
  border-radius: var(--border-radius-primary);
}

.unordered-list {
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1.5rem;
}

.color__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.color__item label {
  width: 100%;
  height: 100%;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  background: currentColor;
  border-radius: 4px;

  position: relative;
}

.color__item label::before {
  /* for box-shadow */
  box-shadow: var(--box-shadow-third);
  opacity: 0;

  content: "";
  font-size: calc(4 * 1rem);
  position: absolute;
  inset: 0 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: var(--border-radius-primary);
}
.color__item label:hover::before {
  opacity: 0.2;
}

.color__item label::after {
  content: url(assets/svg/clipboard.svg);
  font-size: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.color__item label:hover::after,
.color__item label:hover input {
  opacity: 1;
}

.color__item input {
  font-family: var(--font-family-roboto);
  font-size: 0.95em;
  text-align: center;
  text-transform: lowercase;
  color: var(--color-black-dark);
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  border: none;
  outline: none;
  background: none;
  user-select: none;
  transition: opacity 0.4s ease-out;
}

.unordered-list li {
  width: 40px;
  height: 40px;
}

/* aside-left .gradient*/
.gradient {
  grid-area: gradient;
  border-right: 1px solid var(--color-black-dark);
  gap: 0.5rem;
}

.gradient,
.explore {
  display: flex;
  flex-direction: column;
}

.gradient {
  padding: var(--padding-small) var(--padding-medium);
}

.gradient-box {
  width: 100%;
  aspect-ratio: 1.5;
  background: linear-gradient(45.4deg, #f4426c 6.41%, #fbf2b1 98.99%);
}

.gradient-list {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, var(--width-large-responsive));
  grid-template-columns: repeat(auto-fill, var(--width-large-responsive));
  gap: 0.6em;
}

.gradient-item {
  border: 1px solid var(--color-black-dark);
  border-radius: var(--border-radius-primary);
  padding: 0.15rem;
}

.gradient-color {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--border-radius-primary);
  background: currentColor;
  margin: 0 auto;
}

.gradient-item:nth-child(1) .gradient-color {
  color: #f4426c;
}
.gradient-item:nth-child(2) .gradient-color {
  color: #f55b76;
}
.gradient-item:nth-child(3) .gradient-color {
  color: #f78486;
}
.gradient-item:nth-child(4) .gradient-color {
  color: #f9b69a;
}
.gradient-item:nth-child(5) .gradient-color {
  color: #fae0aa;
}
.gradient-item:last-child .gradient-color {
  color: transparent;
  background-image: url(assets/svg/plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}
.dark-theme .add--gradient-color {
  filter: var(--filter-primary);
}
.btn {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

/* aside-right explore */
.explore {
  grid-area: explore;
  border-left: 1px solid var(--color-black-dark);
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-areas: "header" "list";
  overflow: hidden;
}
.explore .header {
  grid-area: header;
  padding: var(--padding-small) var(--padding-medium);
  border-bottom: 1px solid var(--color-black-dark);
}
.explore-list {
  grid-area: list;
  overflow: auto;
}
.explore-item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-bottom: 1px solid var(--color-black-light);
  padding: var(--padding-small) var(--padding-medium);
}

.item__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__title {
  font-family: var(--font-family);
  font-size: medium;
  color: var(--color-black-dark);
}
.explore .copy {
  width: 20px;
  height: 20px;
  background-image: url(assets/svg/clipboard.svg);
}

.dark-theme .explore .copy {
  filter: var(--filter-primary);
}
.item__color__list {
  display: grid;
  grid-template-columns: repeat(6, 26px);
  justify-content: space-around;
  height: 100%;
}

.item__color {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--border-radius-primary);
  background: currentColor;
  margin: 0 auto;
}
.item__color__item {
  margin: 0.1rem;
}

.item__color__item:nth-child(1) .item__color {
  color: #f4426c;
}
.item__color__item:nth-child(2) .item__color {
  color: #f55b76;
}
.item__color__item:nth-child(3) .item__color {
  color: #f78486;
}
.item__color__item:nth-child(4) .item__color {
  color: #f9b69a;
}
.item__color__item:nth-child(5) .item__color {
  color: #fae0aa;
}

.item__credits {
  font-family: var(--font-family);
  font-size: small;
  color: var(--color-black-dark);
  margin-left: auto;
}
.item__author {
  font-weight: bold;
  color: var(--color-black-dark);
  text-decoration: none;
}

/* media-queries */
.media-query {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  background: var(--clr-grey);
}

@media only screen and (max-width: 600px) {
  /* mobile-devices */
  .media-query {
    background: var(--clr-yellow);
  }
  .nav {
    padding: 1rem;
  }
  .btns {
    display: flex;
  }

  .content {
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      "btns"
      "dashboard";
  }

  .gradient,
  .explore {
    display: none;
  }
  .unordered-list {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  /* iPads, Tablets */
  .media-query {
    background: var(--clr-pink);
  }
  .content {
    grid-template-columns: minmax(0, 1fr) 2fr;
    grid-template-areas: " gradient dashboard";
  }

  .explore {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  /* small screens, laptops */
  .media-query {
    background: var(--clr-red);
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  /* small screens, laptops */
  .media-query {
    background: var(--clr-pinkish);
  }
  .unordered-list {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1024px) {
  /* Desktops, large screens */
  .media-query {
    background: var(--clr-green);
  }
  .item__color__list {
    align-self: center;
    gap: 0.3rem;
  }
}

@media only screen and (min-width: 1367px) {
  /* Desktops, large screens */
  .media-query {
    background: var(--clr-yellow);
  }
}
