/* https://www.fontshare.com/fonts/satoshi?fs=60&dt=name */
/* https://codepen.io/sosuke/pen/Pjoqqp */
/* 
--font-family-suggestions: "TEKO", "ABEL", "Fjalla One", "Barlow Condenced", "Varela Round", "Big Shoulders Display";
--primaryColor: #cca2a2;
--secondaryColor: #ffffff;
--accentColor: #1b1b1b; 
--text-clr: #2e2f3e; 
--selection-text: #fbeee8;
--dark-clr: #111111;
 */

:root {
  --fontFamily-input: "Myriad Pro Regular", sans-serif;
  --fontFamily-colorName: "Big Shoulders Display", sans-serif;

  --fontSize: 1rem;
  --nav-height: 55px;
  --border-radius: 4px;
  --input-width: 180px;

  --dark-clr: #0f0e17;
  --light-clr: #eff0f3;
  --selection-bg: #ff8e3c;
  --svg-clr-filter: invert(4%) sepia(6%) saturate(4915%) hue-rotate(207deg)
    brightness(95%) contrast(96%);

  --info: #3366ff;
  --success: #6de02f;
  --warning: #ffdd21;
  --error: #ff6614;
}

.dark-theme {
  --dark-clr: #eff0f3;
  --light-clr: #0f0e17;
  --svg-clr-filter: invert(97%) sepia(1%) saturate(519%) hue-rotate(193deg)
    brightness(101%) contrast(91%);
}

* {
  font-family: var(--fontFamily-input);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

::selection {
  color: var(--selection-text);
  background: var(--selection-bg);
}

body {
  background: var(--light-clr);
  font-family: "Roboto", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: var(--nav-height);
  padding: 1rem 2rem;

  border-bottom: 1px solid var(--dark-clr);
}

.middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle .search {
  display: flex;
  width: 45%;
}

.input {
  color: var(--dark-clr);
  background: var(--light-clr);
  border: 1px solid var(--dark-clr);
  border-radius: var(--border-radius);
  padding: 0.2em 0.4em;
}

.search .search__input {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.search__input:focus {
  outline: none;
  border: 1px solid var(--info);
  box-shadow: inset 0 0 3px 0px var(--dark-clr);
}

.btn {
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid var(--dark-clr);
  background: var(--light-clr);
}

.btn--search__logo {
  width: 32px;
  height: 32px;
  background-image: url("./svg/search.svg");
  filter: var(--svg-clr-filter);
  background-repeat: no-repeat;
  background-position: 50%;
}

.right .list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.theme {
  margin: 0 2rem;
  position: relative;
}

.svg.logo,
.svg.user {
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius);
  background-color: var(--dark-clr);
}

.toggle__input {
  opacity: 0;
  position: absolute;
}

.toggle__label {
  cursor: pointer;
  width: 1.6rem;
  height: 0.85rem;
  background-color: var(--dark-clr);
  display: flex;

  border-radius: 50px;
  align-items: center;
  padding: 0.1rem;
  position: relative;
  transform: scale(1.5);
}

.toggle__ball {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--light-clr);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.toggle__input:checked + .toggle__label .toggle__ball {
  transform: translateX(0.75rem);
}

.section {
  height: calc(100vh - var(--nav-height));
  padding: 1rem;
  display: flex;
  gap: 1rem;
  width: 100vw;
}

.dashboard {
  width: 74%;
  /* min-width: 820px; */
}

.explore {
  width: 24%;
  /* min-width: 290px; */
}
.dashboard,
.explore {
  border: 1px solid var(--dark-clr);
  border-radius: var(--border-radius);
}

.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.select__color {
  width: 100px;
  padding: 0.2rem;
  text-align: center;
  letter-spacing: 0.6px;
}

.add__color {
  display: flex;
}

.color__preview {
  width: 26px;
  height: 26px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin: 0 0.4rem;
  outline: 2px solid transparent;
  padding: 2px;
}

/* 
.success .color__preview {
  outline-color: var(--error);
}
 */

.color__preview input {
  -webkit-appearance: none;
  border: 0;
  width: 100%;
  height: 100%;
}

.color__input {
  outline: 2px solid transparent;
  font-size: 0.95rem;
  width: var(--input-width);
  border-radius: var(--border-radius);
  border: 1px solid var(--dark-clr);
}
.color__input:focus {
  border-color: transparent;
}
.error .color__input {
  border-color: transparent;
  outline-color: var(--error);
}

.success .color__input {
  border-color: transparent;
  outline-color: var(--success);
}

.btn--add {
  font-weight: bold;
  padding: 0.1em 0.6em;
  color: whitesmoke;
  background: var(--info);
  border: 1px solid whitesmoke;
  margin: 0 0.3rem;
}

.btn--add:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.color__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-template-rows: repeat(auto-fit, 85px);
  gap: 2.5rem 1rem;
  justify-content: center;
}

.color__list li {
  width: 90px;
  height: 90px;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}
.color__item {
  position: relative;
}
.color__item label {
  width: 100%;
  height: 100%;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  background: currentColor;
  border-radius: var(--border-radius);

  position: relative;
  transition: opacity 0.6s ease-out;
}

.color__item label::before {
  content: "";
  font-size: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius);
  opacity: 0;
  /* box-shadow: 0 0 0 0.1em currentcolor; */
  box-shadow: var(--dark-clr) 0px 0px 0px 3px;
  transition: opacity 0.4s ease-in-out;
}
.color__item label:hover::before {
  opacity: 0.2;
}

.color__item label::after {
  content: url("./svg/copy.svg");
  font-size: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  opacity: 0;
}

.color__item input {
  font-family: var(--fontFamily-colorName);
  font-size: 0.95rem;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: lowercase;

  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  border: none;
  outline: none;
  background: none;
  user-select: none;
  transition: opacity 0.4s ease-out;
}

.color__item input:read-only {
  color: var(--dark-clr);
}

.color__item label:hover::after,
.color__item label:hover input {
  opacity: 1;
}

/* 
<!-- theme -->
<!-- https://www.happyhues.co/palettes/13 -->
<!-- menu -->
<!-- https://codepen.io/henrymendeez/pen/rNjNNdw -->
<!-- accordion -->
<!-- https://codepen.io/kamblack/pen/ZjWpdX -->
<!-- https://codepen.io/chriscoyier/pen/XWNqxyY?editors=0010 -->
<!-- search -->
<!-- https://codepen.io/coswise/pen/QWbgWdy -->
<!-- https://codepen.io/shoby/pen/gOrgVVq -->
<!-- switch theme -->
<!-- https://www.happyhues.co/palettes/13 -->  
*/
