@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* 
@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("https://github.com/fontfen/myriad-pro/blob/master/MyriadPro-Regular.woff")
      format("woff");
} 
*/
:root {
  /* --font-family-suggestions: "TEKO", "ABEL", "Fjalla One", "Barlow Condenced", "Varela Round", "Big Shoulders Display"; */
  --primaryColor: #cca2a2;
  --secondaryColor: #ffffff;
  --accentColor: #1b1b1b;

  --selectionBg: #ed4c64;
  --selectionColor: fbeee8;

  --fontFamily-input: "Myriad Pro Regular", sans-serif;
  --fontFamily-colorName: "Big Shoulders Display", sans-serif;
  --fontSize: 1rem;
  --borderColor: #ffffff;
}

* {
  font-family: var(--fontFamily-input);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

::selection {
  background: var(--selectionBg);
  color: var(--selectionColor);
}


body {
  background: var(--primaryColor);
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 10% 0;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  width: 45%;
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: 1rem;
}

.options input {
  margin-right: 5px;
}


#form {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  width: 90%;
  max-width: 300px;

  margin: 1.5rem auto;
}

.input,
.btn {
  font-family: var(--fontFamily-input);
  background: var(--secondaryColor);
  border-radius: 0.8rem;
  border: 1px solid var(--accentColor);
  color: var(--accentColor);
}

.input {
  padding: 0.4em 0.6em;
  font-size: 1.2rem;
  flex: 1;
}

.input::placeholder {
  color: var(--accentColor);
  letter-spacing: 1px;
}

.btn {
  cursor: pointer;
  padding: 0.6rem 0.4rem;
  padding-left: 0.8rem;
  font-size: 1.4rem;
}

.btn:disabled {
  background: grey;
  color: white;
}

.color-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-template-rows: repeat(auto-fit, 85px);
  gap: 2.5rem 1rem;
  justify-content: center;
}

.color-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;

  /* animation: rotate-360 2s ease-in-out alternate infinite; */

  /* https://dev.to/afif/border-with-gradient-and-radius-387f */
  /* for gradient-borders along with radius */
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}


.color-list li::before {
  content: '';
  position: absolute;

  width: inherit;
  height: inherit;
  border: 2px solid transparent;
}

.color-list label {
  background: var(--secondaryColor);
  padding: 0px;
  border: 1px solid transparent;
  cursor: pointer;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  position: relative;
  user-select: none;

  /* https: //css-tricks.com/almanac/properties/b/background-clip/ */
  /* enables you to start the bg-image start from padding  */
  background-clip: content-box;

}

.color-list label::before {
  content: "";
  background: #1b1b1b50;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  opacity: 0;
}

.color-list label::after {
  font-family: "Font Awesome 5 Free";
  font-size: 1.8rem;
  content: "\f0c5";
  color: var(--secondaryColor);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.color-list.copy label::after {
  color: black;
}

.color-list input {
  text-transform: lowercase;
  width: 84px;

  position: absolute;
  top: 110%;
  text-align: center;
  width: inherit;
  background: none;
  font-size: 1.2rem;
  font-family: var(--fontFamily-colorName);
  letter-spacing: 0.4px;
  transition: opacity 0.4s ease-out;
  opacity: 0;
  border: none;
  outline: none;

  user-select: none;

  animation: none;
}

.color-list input:read-only {
  color: var(--accentColor);
}

.color-list label:hover::after,
.color-list label:hover::before,
.color-list label:hover input {
  opacity: 1;

  transition: opacity 0.6s ease-out;
}

.copied {
  position: absolute;
  top: 0;
  right: 0;

  font-family: var(--fontFamily);
  font-size: 1rem;
  margin: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  color: white;
  background: #d90429;
  opacity: 0;
  transition: all 0.4s;
}

.copied.is-copied {
  /* -webkit-animation: scaleUp 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: scaleUp 2s cubic-bezier(0.25, 0.46, 0.45, 0.94); */

  -webkit-animation: slide-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


@-webkit-keyframes slide-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  30% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  30% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* NEW */

.color-block {
  width: 300px;
  height: 250px;
  border: 1px solid;
  border-radius: 0.5rem;
}

.color-block header {
  border-bottom: 2px solid #ed4c64;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.8rem;
}

.block__details {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.block_name {
  font-size: 1rem;
}

.svg img {
  width: 15px;
  height: 15px;
}


.colors {
  display: grid;

}

.colors .color {
  width: 24px;
  height: 24px;
  background: #d90429;
  border-radius: 50%;

}


/* safashfksahflnglasnglsanglasn newww */